:root {
  --cor-primaria: #b58860;
  --cor-secundaria: #56487C;
  --cor-branca: #fff;
  --cor-fundo-escuro: #1d2b50;
  --cor-fundo-claro: #303D5F;
}

:root {
  --fonte-primaria: 'Poppins', sans-serif;
  --fonte-secundaria: 'Raleway', sans-serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
}